@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

$color-primary: #282828;
$color-primary-variant: #888;
$color-secondary: #cd5353;
$color-revert: #fff;
$fa-font-path: "../webfonts";
