@import 'variables';
@import 'main-header';
@import 'home';

* {
    box-sizing: border-box;
}

body {
    color: $color-primary;
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

header h2 {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;

    &::before {
        content: '';
        background: $color-secondary;
        position: absolute;
        height: 7px;
        width: 100%;
        bottom: 0;
        left: 0;
        opacity: 0.4;
    }
}

h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

a {
    color: $color-primary;
    text-decoration: none;
}

.main-content>section {
    padding: 60px 20px;
}

button.open-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;

    @extend %box-shadow-2;
    @extend %basic-transition;
    
    padding: 20px 22px;
    border: 0;
    border-radius: 40px;
    background: $color-secondary;

    color: $color-revert;
    font-size: 16px;
    outline: none;
    cursor: pointer;

    &.hidden {
        display: none;
    }
}

@media screen and (min-width: 990px) {
    .main-content>section {
        padding: 60px 40px 60px 320px;
    }

    button.open-menu {
        display: none;
    }
}
